        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-xs-12 footer navbar-inverse navbar-fixed-bottom">
                    {% include mail.svg %}
                    {% include github.svg %}
                    {% include linkedin.svg %}
                </div>
            </div>
        </div>

        {% include analytics.html %}

        <script type="text/javascript">
            var cl = cloudinary.Cloudinary.new({cloud_name: "petetay"});
            cl.responsive();
        </script>

    </body>
</html>
