/* https://stackoverflow.com/questions/9288482/how-do-i-set-the-offset-for-scrollspy-in-bootstrap/12606867#12606867*/
/* Make room for the nav bar */
body {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    height: 100%;
}

/* Make room for the nav bar when navigating to sections */
h1[id], h2[id], h3[id], h4[id], h5[id], h6[id], dt[id] {
    padding-top: 60px;
    margin-top: -60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

/* sidebar */
.sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* doubly-nested links */
.sidebar .nav .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 40px;
    font-size: 11px;
}

/* active & hover links */
.sidebar .nav>.active>a,
.sidebar .nav>li>a:hover,
.sidebar .nav>li>a:focus {
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #563d7c;
}

/* all active links */
.sidebar .nav>.active>a,
.sidebar .nav>.active:hover>a,
.sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.sidebar .nav .nav>.active>a,
.sidebar .nav .nav>.active:hover>a,
.sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide all (inactive) nested list */
.sidebar .nav ul.nav {
    display: none;
}

/* show active nested list */
.sidebar .nav>.active>ul.nav {
    display: block;
}

.fixed {
    position: fixed;
}

.center-block {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
