<!-- Include the "?" to trick the broswer-cache into behaving properly. -->
<link rel="shortcut icon" type="image/x-icon" href="https://drive.google.com/file/d/0B0Jfms0twG8EdndLVjdvTG0wZWM">

{% include header.html %}

<script type="text/javascript">{% include toc.js %}</script>
<script type="text/javascript">
$(document).ready(function() {
    $('#toc').toc();
});
</script>

<div class="container container-left">
    <div class="row" id="test" data-spy="scroll" data-target=".bs-docs-sidebar" data-offset="60">
        <nav class="col-md-3 bs-docs-sidebar">
            <ul id="toc" class="nav nav-stacked fixed"></ul>
        </nav>
        <div class="col-md-9 text-justify">
            {{ content }}
        </div>
    </div>
</div>

{% include footer.html %}
