{% include header.html %}

<script type="text/javascript">{% include toc.js %}</script>
<script type="text/javascript">
$(document).ready(function() {
    $('#toc').toc();
});
</script>

<div class="container container-left">
    <div class="row">
        <nav class="col-md-3 bs-docs-sidebar">
            <ul id="toc" class="nav nav-stacked fixed"></ul>
        </nav>
        <div class="col-md-9 text-justify">
            {{ content }}
        </div>
    </div>
</div>

{% include footer.html %}
